.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px 5px;
    border: solid 1px;
    border-color: lightgrey;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container, .image{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .image{
    border:solid 1px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }