.characters{  
    display: flex;   
    position:relative;
    top:105px;   
    max-width: 1000px;
    align-items: center; 
    padding:5px;
    flex-direction: column; 
}

.character{
    text-align: center;
    z-index: 0;
}

.remove-button{
    position: relative;
    top:-250px;
    display:none;
    color:red;
    font-weight: bold;
    font-size: 25px;

}
.search{
    position:fixed;
    font-family: Arial;
    width:90%;
    height:25px;
    font-size:15px;
    max-width: 1000px;
    top:60px;
    text-align: center;
    z-index: 0;
}

.character-container{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 300px;
    justify-items: center;
}

.add{
    position: fixed;
    top:100px;
    width:50px;
    height:50px;
    max-width:50px;
    max-height:50px;
    background:grey;
    font-size:40px;
    border-radius: 5px;
    text-align: center;
}

.add:focus{
    outline:0;
}

@media all and (max-width: 500px) and (min-height: 400px) {
    .add{
        position:fixed;
        width:70px;
        height:70px;
        max-width:70px;
        max-height:70px;
        background:grey;
        font-size:40px;
        border-radius: 5px;
        top: 98%;
        transform: translateY(-100%);
        max-width: 1000px;
    }
}

.character:hover .remove-button{
    display:inline;
}

.remove-button:hover{
    position: relative;
    filter: drop-shadow(0 0 0.75rem crimson);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}