.body{
    display:flex;
    justify-content: center;
    width: 100%;
    max-width: 800;
    padding-top: 1cm;
}

input{
    height:12px;
    text-align: left; 
    background:none;
    font-weight:bold;
}

.image-upload img
{
    cursor: pointer;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: 50% 10%;
    border-radius: 50%;
    border: solid 2px;
}

.image-upload{
    display:flex;
    width: 350px;
    height: 350px;
    float: left;
    margin-right: 10px;
    shape-outside: ellipse(110px 200px at 0 0);	
}


.row1{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
