.newCharacterForm{
    min-width: 300px;
    min-height: 100px;
    top:20%;
    position:fixed;
    background-color: grey;
    box-shadow: 0px 0px 7px rgb(0, 0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
    z-index:200; 
}

.new_character_button{
    
}