.toolbar{
    width:100%;
    position:fixed;
    background-color: grey;
    height: 50px;
    top:0;
    left:0;
    z-index:100;
}

.toolbar_navigation{
    display:flex;
    height:100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo{
    margin-left: 0.5rem;
}
.toolbar_logo a{
    color:white;
    text-decoration:none;
    font-size:1.5rem;
}

.toolbar_spacer{
    flex:1;
}

.toolbar_list ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
}

.toolbar_list li{
    padding: 0 .5rem; 
}

.toolbar_list a{
    color:white;
    text-decoration: none;
}

