.toggle_button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}


.toggle_button:focus{
    outline: none;
}

.toggle_line{
    width: 25px;
    height: 2px;
    background:white;
}