.side_drawer{
    height:100%;
    background-color: grey;
    box-shadow: 0px 0px 7px rgb(0, 0,0.5);
    position: fixed;
    top:0;
    left:0;
    width: 50%;
    max-width: 300px;
    z-index:200; 
    transform: translateX(-120%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem; 
}

.side_drawer.open{
    transform: translateX(0)
}

.nav_button{
    padding: 4rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    color:white;
    text-decoration: none;
}

.nav_button:hover{
    background-color: rgb(59, 59, 59);
}
